<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="hello" class="com.study.spring.Hello">
		<!-- name -->
		<constructor-arg name="name" value="이순신"></constructor-arg>
		<constructor-arg name="nickname" value="손오공"></constructor-arg>
		<constructor-arg name="printer" ref="printerA"></constructor-arg>
		<!-- index -->
		<!--  
		<constructor-arg index="0" value="이순신"></constructor-arg>
		<constructor-arg index="1" value="강감찬"></constructor-arg>
		<constructor-arg index="2" ref="printerA"></constructor-arg>
		-->
		<!-- 순서 -->
		<!-- 
		<constructor-arg value="이순신"></constructor-arg>
		<constructor-arg value="강감찬"></constructor-arg>
		<constructor-arg ref="printerA"></constructor-arg>
		-->
	</bean>
	
	<bean id="printerA" class="com.study.spring.PrinterA"></bean>
	<bean id="printerB" class="com.study.spring.PrinterB"></bean>
</beans>
